@use 'style/_variable' as *;

.button {
  position: relative;
  width: min(rem(128), 100%);
  height: rem(48);
  padding: 0;
  font-size: rem(18);
  font-weight: $f_bold;
  line-height: 1;
  color: $c_darkness;
  text-align: center;
  cursor: pointer;
  border: none;
  appearance: normal;
}

// フォーカスリング
@keyframes brink {
  from {
    outline: #fffc solid 3px;
  }

  to {
    outline: #fff0 solid 0;
  }
}

.button:focus-visible {
  outline: #fffc solid 3px;
  animation: brink 1s linear alternate-reverse infinite;
}

// 基本
.button.--basic {
  color: $c_lightness;
  background-color: $c_current;

  // 非活性
  &:disabled {
    color: $c_lightness;
    pointer-events: none;
    background-color: $c_disabled;
  }

  // タップしたとき
  &:active:not(:disabled) {
    opacity: 0.9;
  }
}

// 補助
.button.--minor {
  color: $c_lightness;
  background-color: $c_sub;

  // タップしたとき
  &:active:not(:disabled) {
    opacity: 0.9;
  }
}

// アイコンつき
.button.--icon {
  padding: 0 0 0 rem(12);

  &.--external {
    padding: 0 rem(12) 0 0;
  }
}

// アイコン
.icon {
  @include rect(rem(24));

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto rem(20);
  opacity: 0.8;

  // 外部リンク
  .--external & {
    right: 0;
    left: auto;
  }
}
