@use 'modern-css-reset';
@use '_variable' as *;

// GoogleFonts
@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap');

// basic style
html {
  height: 100%;
  font-size: vw(16); // 幅375pxのアートボードで16px相当
}

body {
  min-height: 100%;
  margin: 0;
  font-family:
    Murecho,
    'Hiragino Kaku Gothic ProN',
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    sans-serif;
  font-size: 1rem; // 幅375pxのアートボードで16px相当
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // 背後をスクロールさせない
  &.--isFixedScroll {
    height: 100%;
    overflow: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

[id='root'] {
  position: relative;
  display: grid;
  min-height: 100svh;
}
