@use 'modern-css-reset';
@use '_variable' as *;

// GoogleFonts
// @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;800&family=Montserrat:wght@800&display=swap');

body {
  min-height: 100%;
  margin: 0;
  font-family: 'Hiragino Kaku Gothic ProN', -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  font-size: vw(16); // 幅375pxのアートボードで16px相当
  // color: $c_dark;
  color: $c_lightness;
  // background-color: $c_lightness;
  background-color: $c_dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // ダイアログの背後をスクロールさせない
  &.isFixedScroll {
    height: 100%;
    overflow: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.l-body {
  position: relative;
  z-index: 1;
}
